[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
server-id = 1
log-bin =   /var/log/mysql/mysql-bin.log
log-error = /var/log/mysql/mysql-error.log
binlog-do-db = DBName

symbolic-links=0

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid